.hero-section {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100%;
}

.hero-section h2 {
  font-size: 50px;
  color: var(--highlight-color);
  font-weight: 700;
  margin-top: 20px;
  letter-spacing: -1px;
}

.hero-section p {
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 1px;
  color: var(--nav-text-color);
}

.hero-section span {
  color: var(--nav-text-color);
}

.theme-toggle-btn {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--nav-text-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/* Social Icons */
.hero-section .social-icons a {
  font-size: 2rem;
  margin: 0 15px;
  color: var(--highlight-color);
  transition: color 0.3s ease-in-out;
}

[data-theme="light"] .social-icons a {
  color: #000000;
}

[data-theme="dark"] .social-icons a {
  color: #ffffff;
}

.hero-section .social-icons a:hover {
  color: var(--nav-text-color);
}

/* ******************** */

.hero-section .dark-resume-btn {
  font-size: 20px;
  font-weight: 600;
  color: var(--nav-text-color);
  box-shadow: 0px 0px 10px 0px var(--highlight-color);
  border-radius: 25px;
}

/* Parallax effect */
.parallax-effect {
  position: relative;
  overflow: hidden;
  background-size: contain;
  background-attachment: fixed;
  background-position: 0px 50px;
  background-repeat: no-repeat;
  transition: background 0.5s ease-out;
}

/* Light and dark theme background images */
[data-theme="light"] .parallax-effect {
  background-image: url("../images//my-image-home-light.png");
}

[data-theme="dark"] .parallax-effect {
  background-image: url("../images/my-image-home-dark.png");
}

/* Media Query for Smaller Screens */
@media screen and (max-width: 768px) {
  .hero-section h2 {
    font-size: 30px;
    text-align: start;
  }

  .hero-section p {
    font-size: 18px;
    text-align: justify;
  }

  .hero-section .jp-img {
    width: 50px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .hero-section h2 {
    font-size: 40px;
  }
}