.skills-section {
    background-color: var(--bg-color);
    background-image: url("../images/skills-background-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--text-color);
    position: relative;
    overflow: hidden;
    min-height: 100%;
}

.skills-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.skills-section .container-fluid {
    position: relative;
    z-index: 2;
}

.skills-section p {
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: 20px;
}

.skills-section .skills-card {
    width: 150px;
    height: 150px;
    background-color: #202022;
    pointer-events: auto;
    transform: scale(1);
    opacity: 1;
    transition: all 150ms ease-in-out;
    box-shadow: 4px 4px 10px rgba(179, 54, 255, 0.5);

    &:nth-child(even) {
        transform: translateX(8px);
    }

    &:nth-child(n) {
        transform: rotate(0deg);
    }
}

.skills-section .skills-sec-card:hover>.skills-card:hover {
    transform: scale(1.15);
    box-shadow: 0 0 10px rgba(179, 54, 255, 0.8);
    z-index: 10;
}

@media screen and (max-width: 768px) {
    .skills-section p {
        font-size: 18px;
        text-align: justify;
    }
}