.skills-section {
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
}

.skills-section p {
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: 20px;
}

.skills-section .skills-card {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8), 0 0 20px rgba(255, 255, 255, 0.1);
    background-color: #111;
    border-radius: 10px;
    transform: translateZ(0);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 150px;
    height: 150px;
}

.skills-section .skills-card:hover {
    transform: translateY(-10px);
}