.skills-section {
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
}

.skills-section p {
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: 20px;
}

.skills-section .skills-card {
    width: 150px;
    height: 150px;
    background-color: #202022;
    pointer-events: auto;
    transform: scale(1);
    opacity: 1;
    transition: all 150ms ease-in-out;
    box-shadow: 4px 4px 10px rgba(179, 54, 255, 0.5);

    &:nth-child(even) {
        transform: translateX(8px);
    }

    &:nth-child(n) {
        transform: rotate(0deg);
    }
}

.skills-section .skills-sec-card:hover>.skills-card:hover {
    transform: scale(1.15);
    box-shadow: 0 0 10px rgba(179, 54, 255, 0.8);
    z-index: 10;
}

@media screen and (max-width: 768px) {
    .skills-section {
        min-height: 100%;
    }

    .skills-section p {
        font-size: 18px;
        text-align: justify;
    }
}