/* Light Theme - Default */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --nav-bg-color: #f8f9fa;
  --nav-text-color: #333333;
  --highlight-color: #b336ff;
  --button-bg-color: #4CAF50;
  --button-text-color: #fff;
  --link-color: #000000;
  --link-hover-color: #b336ff;
}

/* Dark Theme */
[data-theme="dark"] {
  --bg-color: #000000;
  --text-color: #ffffff;
  --nav-bg-color: #000000;
  --nav-text-color: #ffffff;
  --highlight-color: #8b00ff;
  --button-bg-color: #555;
  --button-text-color: #eee;
  --link-color: #ffffff;
  --link-hover-color: #8b00ff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  font-family: "Bebas Neue", sans-serif !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar {
  background-color: var(--nav-bg-color);
  color: var(--nav-text-color);
  box-shadow: 0px -8px 26.2px 0px var(--highlight-color);
}

.nav-links a {
  color: var(--link-color);
  text-decoration: none;
}

.nav-links a:hover {
  color: var(--link-hover-color);
}

.logo {
  color: var(--highlight-color);
}

.theme-toggle-btn {
  cursor: pointer;
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

.fa-arrow-down {
  border: 1px solid #b336ff;
  border-radius: 20px;
  padding: 10px 5px;
}

/* Fonts */
@font-face {
  font-family: 'Bradley Hand ITC';
  src: url('./assets/fonts/BRADHITC.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('./assets/fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.bebasNeue {
  font-family: 'Bebas Neue', sans-serif;
}

.bradleyHand {
  font-family: 'Bradley Hand ITC', cursive, sans-serif;
}

/* ************ */